*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  overflow-x: hidden;
      

}

@media screen and (max-width:  480px) {
  *{
    overflow-x: hidden;
  }
}